<div class="container">
    <div class="row">
      <div class="u-pull-left">
        <b>{{ctl.cn.title}}</b>
        <p>{{ctl.cn.date | date: 'longDate'}}
        <div ng-switch on="ctl.cn.category">
          <div ng-switch-when="metro" >
            <i class="fa fa-building-o fa-lg wls-icon "></i>
          </div>
          <div ng-switch-when="business">
            <i class="fa fa-bar-chart fa-lg wls-icon"></i>
          </div>
          <div ng-switch-when="books">
            <i class="fa fa-book fa-lg wls-icon"></i>
          </div>
          <div ng-switch-when="ideas">
            <i class="fa fa-lightbulb-o fa-lg wls-icon"></i>
          </div>
        </div>
      </div>
      <div class="twelve columns">
        <div class="u-pull-left wls-narration" ng-bind-html="ctl.markup"></div>
      </div>
    </div> 
</div>